name: Keep Render Backends Awake

on:
  schedule:
    # From 8:30 AM to 8:59 AM IST
    - cron: "30,40,50 3 * * *"

    # From 9:00 AM to 8:30 PM IST
    - cron: "*/10 4-15 * * *"

  workflow_dispatch:

concurrency:
  group: keep-render-awake
  cancel-in-progress: false

jobs:
  ping:
    runs-on: ubuntu-latest
    timeout-minutes: 4

    steps:
      - name: Ping Attendance Backend
        run: |
          curl -L --max-time 60 https://students-backend-8mup.onrender.com/ || true

      - name: Ping Exam / ERP Backend
        run: |
          curl -L --max-time 60 https://exam-backend-ko0t.onrender.com/ || true
